* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: #2D2D2D;
  background-color: #d9e4ee;
}

.main {
  height: 800px;
  background-color: #59aedf;
}

.footer {
  height: 300px;
  background-color: #313131;
}

.section {
  height: 800px;
  background-color: #83c5da;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  text-align: center;
  font-size: 42px;
}
.section:nth-child(odd) {
  background-color: #cdda83;
}

.header {
  padding: 25px 0px;
  background-color: white;
}

.header__row {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header__logo {
  font-weight: 600;
  font-size: 35px;
  line-height: 1.625;
}

.nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  /* Mobile */
}
@media (max-width: 899px) {
  .nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 320px;
    height: 100%;
    background-color: #2D2D2D;
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    transition: all 0.2s ease-in;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
  }
  .nav.nav-mobile {
    opacity: 0.8;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    transition: all 0.2s ease-in;
  }
}
.nav a {
  margin-right: 60px;
  color: #2D2D2D;
  text-decoration: none;
  /* Mobile */
}
@media (max-width: 899px) {
  .nav a {
    margin-right: 0;
    margin-top: 35px;
    font-size: 28px;
    color: #fff;
  }
}
.nav a:last-child {
  margin-right: 0;
}
.nav a:hover {
  color: #358bee;
}

.nav-icon {
  width: 30px;
  height: 25px;
  display: none;
  -webkit-box-align: center;
          align-items: center;
  cursor: pointer;
  /* Mobile */
}
@media (max-width: 899px) {
  .nav-icon {
    display: -webkit-box;
    display: flex;
  }
  .nav-icon.nav-icon--active {
    position: fixed;
    top: 40px;
    right: 15px;
  }
}
.nav-icon__middle {
  position: relative;
  width: 30px;
  height: 5px;
  background-color: #000;
}
.nav-icon__middle::before, .nav-icon__middle::after {
  content: "";
  position: absolute;
  left: 0;
  width: 30px;
  height: 5px;
  background-color: #000;
  transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
}
.nav-icon__middle::before {
  top: -200%;
}
.nav-icon__middle::after {
  top: 200%;
}

.nav-icon.nav-icon--active .nav-icon__middle {
  background-color: transparent;
}
.nav-icon.nav-icon--active .nav-icon__middle::before, .nav-icon.nav-icon--active .nav-icon__middle::after {
  top: 0;
  transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s;
}
.nav-icon.nav-icon--active .nav-icon__middle::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.nav-icon.nav-icon--active .nav-icon__middle::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
/*# sourceMappingURL=main.css.map */