.header {
    padding: 25px 0px;
    background-color: rgb(255, 255, 255);
}

.header__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header__logo {
    font-weight: 600;
    font-size: 35px;
    line-height: 1.625;
}
