* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: #2D2D2D;
    background-color: #d9e4ee;
}

.main {
    height: 800px;
    background-color: rgb(89, 174, 223);
}

.footer {
    height: 300px;
    background-color: rgb(49, 49, 49);
}

.section {
    height: 800px;
    background-color: rgb(131, 197, 218);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-size: 42px;

    &:nth-child(odd){
        background-color: rgb(205, 218, 131);
    }
}