/* Reset and base styles  */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  /* sticky footer */
  scroll-behavior: smooth;
}

body {
  height: 100%;
  /* sticky footer */
  display: -webkit-box;
  display: flex;
  /* sticky footer */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  /* sticky footer */
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #000000;
}

body > * {
  flex-shrink: 0;
  /* sticky footer */
}

input, textarea, button {
  font-family: inherit;
  padding: 0;
}

label {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

legend {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
}

/* Grid styles */
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Utility */
.none {
  display: none !important;
}

/* Sticky Footer */
.footer {
  margin-top: auto;
  /* sticky footer */
  /* Just for fun */
  text-align: center;
  background-color: #e2e2e2;
  padding: 50px 0;
}

.slider {
  position: relative;
  padding-bottom: 54px;
  /* Mobile */
}
@media (max-width: 899px) {
  .slider {
    padding-bottom: 44px;
  }
}
.slider__arrow {
  position: absolute;
  top: 53px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  width: 54px;
  height: 54px;
  background: #F5F5F5;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 899px) {
  .slider__arrow {
    top: 65px;
  }
}
@media (max-width: 599px) {
  .slider__arrow {
    display: none;
  }
}
.slider__arrow--left {
  left: -46px;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  /* Tablet */
  /* Mobile */
}
@media (max-width: 1199px) {
  .slider__arrow--left {
    left: -21px;
  }
}
@media (max-width: 899px) {
  .slider__arrow--left {
    left: -46px;
  }
}
.slider__arrow--right {
  right: -46px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  /* Tablet */
}
@media (max-width: 1199px) {
  .slider__arrow--right {
    right: -21px;
  }
}
@media (max-width: 899px) {
  .slider__arrow--right {
    right: -46px;
  }
}
.slider__pagination {
  position: absolute;
  display: -webkit-box;
  display: flex;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.slider__pagination > * + * {
  margin-left: 10px;
}
.slider__paginatio-item {
  width: 14px;
  height: 14px;
  border: none;
  border-radius: 50%;
  background: #E1E1E1;
}
.slider__paginatio-item--active {
  background: #00C470;
}

.slider-item {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
}
.slider-item__text {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 18px;
  line-height: 2;
  text-align: center;
  color: #000000;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .slider-item__text {
    line-height: 1.5;
  }
  .slider-item__text br {
    display: none;
  }
}
@media (max-width: 899px) {
  .slider-item__text {
    margin-bottom: 20px;
    font-size: 16px;
  }
}
@media (max-width: 599px) {
  .slider-item__text {
    font-size: 14px;
  }
}
.slider-item__text p + p {
  margin-top: 15px;
}
.slider-item__author {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}
.slider-item__avatar {
  margin-right: 20px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  /* Mobile XS */
}
@media (max-width: 599px) {
  .slider-item__avatar {
    margin-right: 10px;
    width: 60px;
    height: 60px;
  }
}
.slider-item__author-desc {
  font-weight: 500;
  font-size: 16px;
  /* Mobile XS */
}
@media (max-width: 599px) {
  .slider-item__author-desc {
    font-size: 14px;
  }
}
.slider-item__author-title {
  display: block;
  margin-bottom: 5px;
  color: #00C470;
}
.slider-item__author-name {
  display: block;
  color: #808080;
}

.section-clients {
  padding-top: 80px;
  padding-bottom: 80px;
  /* Tablet */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-clients {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 599px) {
  .section-clients {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.section-clients__header {
  margin-bottom: 60px;
  text-align: center;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-clients__header {
    margin-bottom: 50px;
  }
}
@media (max-width: 899px) {
  .section-clients__header {
    margin-bottom: 40px;
  }
}
@media (max-width: 599px) {
  .section-clients__header {
    margin-bottom: 30px;
  }
}
.section-clients__title {
  margin-bottom: 40px;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-clients__title {
    margin-bottom: 30px;
  }
}
@media (max-width: 899px) {
  .section-clients__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .section-clients__title {
    margin-bottom: 10px;
  }
}
.section-clients__slider {
  margin-left: auto;
  margin-right: auto;
  width: 770px;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
@media (max-width: 1199px) {
  .section-clients__slider {
    width: 720px;
  }
}
@media (max-width: 899px) {
  .section-clients__slider {
    width: 370px;
  }
}
@media (max-width: 599px) {
  .section-clients__slider {
    width: 290px;
  }
}

/* Tablet */
@media (max-width: 1199px) {
  .container {
    width: 900px;
  }
}
/* Mobile */
@media (max-width: 899px) {
  .container {
    width: 600px;
  }
}
/* Mobile XS */
@media (max-width: 599px) {
  .container {
    width: 320px;
  }
}

/*# sourceMappingURL=main.css.map */