/* font-family: 'Noto Sans', sans-serif;
font-family: 'Playfair Display', serif; */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: "Noto Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 90px;
  padding-bottom: 90px;
}

.section-header {
  margin-bottom: 40px;
  text-align: center;
}

.section-header-title {
  margin-bottom: 10px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 42px;
  color: #000000;
}

.section-header p {
  font-size: 14px;
  text-transform: uppercase;
  color: #999999;
}

.products-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

/* Product card */

.product {
  width: 270px;
  height: 420px;
  text-align: center;
  margin-bottom: 40px;
  margin-left: 15px;
  margin-right: 15px;
}

.product-image {
  margin-bottom: 12px;
}

.product-title {
  margin-bottom: 12px;
  font-family: "Playfair Display", serif;
  font-size: 20px;
  font-weight: 400;
  color: #000000;
}

.product-price-wrapper {
  font-size: 14px;
  text-transform: uppercase;
}

.product-price-old {
  text-decoration: line-through;
  color: #999999;
  margin-right: 10px;
}

.product-price-new {
  font-weight: 700;
  color: #f72464;
}

/* Button */

.section-button-wrapper {
  text-align: center;
}

.button {
  display: inline-block;
  padding-left: 40px;
  padding-right: 39px;
  height: 42px;
  background: #ffffff;
  border: 1px solid #f72464;
  border-radius: 4px;

  font-family: "Playfair Display", serif;
  line-height: 38px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #777777;
}

/* TABLET */

@media (max-width: 1199px) {
  .container {
    width: 900px;
  }
}

/* MOBILE */

@media (max-width: 899px) {
  .section {
  padding-top: 60px;
  padding-bottom: 60px;
  }

  .container {
    width: 600px;
  }

  .section-header-title {
    font-size: 32px;
  }

  .section-header p {
    font-size: 12px;
  }
}

/* MOBILE XS */

@media (max-width: 599px) {
  .container {
    width: 320px;
  }

  .products-row {
    flex-direction: column;
    align-items: center;
  }
}