.button-round {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  border: none;
  
  transition: 0.5s;
  cursor: pointer;
}

.button-round:hover {
  background: #00C470;
}