.title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: $accentText;

  // /* Tablet */
  // @media (max-width: 1199px) {
  //   margin-bottom: 30px;
  // }

  /* Mobile */
  @media (max-width: 899px) {
    // margin-bottom: 20px;
    font-size: 14px;
  }

  // /* Mobile XS */
  // @media (max-width: 599px) {
  //   margin-bottom: 10px;
  // }
}